/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2014, 11:19:46 AM
    Author     : Nook
*/
@backgroundColor:#2E322E;
@borderBottomWidth:4px;
#layoutTop
{
    background-color: @backgroundColor;
    border-bottom-style: solid;
    border-bottom-color: #33CC33;
    border-bottom-width: 4px;
}

#layoutCenter
{
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px
}

#layoutLeft
{
    background-color: @backgroundColor;
}
//side-bar menu
#layoutLeft  
.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix
{
    border-color: @backgroundColor;
    background-color: @backgroundColor;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 170px;
}
//item in side-bar menu
#layoutLeft  
.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix
li
{
    border-color: @backgroundColor;
    border-style: outset;
    border-width: 0.15em;
}
#layoutLeft 
.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix
li:hover
{
    background-color: #828482;
    border-color: @backgroundColor;
    border-style: inset;
    border-width: 0.15em;
}
#layoutLeft  
.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix
li a.ui-menuitem-link.ui-corner-all.ui-state-hover
{
    background-color: #828482;
}

//Page Header
.pageHeader
{
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}


//panel tab
div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top
{

}
//panel tab navigator bar
div.ui-tabs 
.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
{
    background-color: #e5e5e5;
}
//panel tab navigator bar (tab button)
div.ui-tabs 
li.ui-state-default.ui-corner-top
{
    background-color: #e5e5e5;
}
//panel tab navigator bar (tab button font)
div.ui-tabs 
li.ui-state-default.ui-corner-top
a:hover
{
    color: #0033CC !important;
}
//panel tab navigator bar (selected tab button)
div.ui-tabs 
li.ui-tabs-selected.ui-state-active.ui-corner-top
{
}
//panel tab navigator bar (selected tab button font (tag <a>))
div.ui-tabs 
li.ui-tabs-selected.ui-state-active.ui-corner-top
a
{
}
//panel tab content aria
div.ui-tabs 
div.ui-tabs-panel.ui-widget-content.ui-corner-bottom
{

}
// logo : top layout
#logo
{
    height: 70px;
    margin-right: 20px;
}

.topbarMenuButton
{
    display: inline-block;
    background-color: #33CC33;
    height: 40px;
    width: 40px;
}
