/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Toy
*/ 

@left: 0px;
@margin: 25px;
@bottom: 0px;
@border: #d5d5d5 solid 1px;
@minWidth: 800px;
@layoutTopHeight: 70px;
@layoutLeftAndCenterTop: @layoutTopHeight;
@layoutLeftWidth: 200px;
@layoutCenterLeft: @layoutLeftWidth + @margin;

body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
    font : normal 10pt Roboto,arial,sans-serif;
    min-width: 1000px;
    color: #444;
}
#layoutLeft{
    top: @layoutLeftAndCenterTop + @margin;
    left: @left + @margin;
    width: @layoutLeftWidth;
    height: 100%;
    border: @border;
    background-color: #f9f9fc;
    position: fixed;  
}

#layoutTop{
    top:@margin;
    left: @left + @margin;
    right: @margin;
    height: @layoutTopHeight;
    background-color: #fff;
    position: fixed;
    border: @border;
    min-width: @minWidth;
}

/*@top2: @top + 100px;*/

#layoutCenter{
    top: @layoutLeftAndCenterTop + @margin;
    left: @layoutCenterLeft;
    right: @margin;
    bottom: @bottom;
    background-color: #ffffff;
    position: fixed;
    overflow: auto;
    font-size: medium;
    color: #5E5E5E;
    min-width: @minWidth;
    border: @border;
}
#layoutButtom{
    bottom: @bottom;
    left: @layoutCenterLeft;
    right: @margin;
    height: @bottom + 50px;
    background-color: #fff;
    position: fixed;
    border: @border;
    min-width: @minWidth;
}
.ui-menuitem-text{
    font : normal 10pt Roboto,arial,sans-serif;
    color: red;
}
/* side bar menu*/
.ui-menu .ui-menuitem-link:hover .ui-menuitem-text{
    color: #fff;
}

