


input {
    background-color: #5E5E5E;
    color: #ffffff;
}

div.ui-button.ui-widget.ui-state-default
span.ui-button.ui-widget.ui-state-default .ui-button-text
{
    color: #ff0000;
}

.ui-datatable-data tr.ui-widget-content
{
    font-size: 12px;
    
}

.ui-datatable-data tr.ui-widget-content.ui-datatable-even
{
    
}

.ui-datatable-data tr.ui-widget-content.ui-datatable-odd
{
    background-color: #eaeaea;
}
.ui-datatable-data tr.ui-widget-content.ui-datatable-odd td
{
    padding: 1px 10px;
    border-color: #ffffff;
    height: 14px
}

.ui-datatable thead th
{
    font-size: 14px;
}
