/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Toy
*/
/* line 16, D:\Nook\Internship\genius-inventory\src\main\webapp\resources\style\less\layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Nook\/Internship\/genius-inventory\/src\/main\/webapp\/resources\/style\/less\/layout\.less}line{font-family:\0000316}}
body {
  padding: 0px;
  margin: 0px;
  overflow: auto;
  font: normal 10pt Roboto, arial, sans-serif;
  min-width: 1000px;
  color: #444;
}
/* line 24, D:\Nook\Internship\genius-inventory\src\main\webapp\resources\style\less\layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Nook\/Internship\/genius-inventory\/src\/main\/webapp\/resources\/style\/less\/layout\.less}line{font-family:\0000324}}
#layoutLeft {
  top: 125px;
  left: 25px;
  width: 200px;
  height: 100%;
  border: #d5d5d5 solid 1px;
  background-color: #f9f9fc;
  position: fixed;
}
/* line 34, D:\Nook\Internship\genius-inventory\src\main\webapp\resources\style\less\layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Nook\/Internship\/genius-inventory\/src\/main\/webapp\/resources\/style\/less\/layout\.less}line{font-family:\0000334}}
#layoutTop {
  top: 25px;
  left: 25px;
  right: 25px;
  height: 200px;
  background-color: #fff;
  position: fixed;
  border: #d5d5d5 solid 1px;
  min-width: 800px;
}
/*@top2: @top + 100px;*/
/* line 47, D:\Nook\Internship\genius-inventory\src\main\webapp\resources\style\less\layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Nook\/Internship\/genius-inventory\/src\/main\/webapp\/resources\/style\/less\/layout\.less}line{font-family:\0000347}}
#layoutCenter {
  top: 125px;
  left: 225px;
  right: 25px;
  bottom: 0px;
  background-color: #ffffff;
  position: fixed;
  overflow: auto;
  font-size: medium;
  color: #5E5E5E;
  min-width: 800px;
  border: #d5d5d5 solid 1px;
}
/* line 60, D:\Nook\Internship\genius-inventory\src\main\webapp\resources\style\less\layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Nook\/Internship\/genius-inventory\/src\/main\/webapp\/resources\/style\/less\/layout\.less}line{font-family:\0000360}}
#layoutButtom {
  bottom: 0px;
  left: 225px;
  right: 25px;
  height: 50px;
  background-color: #fff;
  position: fixed;
  border: #d5d5d5 solid 1px;
  min-width: 800px;
}
/* line 70, D:\Nook\Internship\genius-inventory\src\main\webapp\resources\style\less\layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Nook\/Internship\/genius-inventory\/src\/main\/webapp\/resources\/style\/less\/layout\.less}line{font-family:\0000370}}
.ui-menuitem-text {
  font: normal 10pt Roboto, arial, sans-serif;
  color: red;
}
/* line 74, D:\Nook\Internship\genius-inventory\src\main\webapp\resources\style\less\layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Nook\/Internship\/genius-inventory\/src\/main\/webapp\/resources\/style\/less\/layout\.less}line{font-family:\0000374}}
.ui-menu .ui-menuitem-link:hover .ui-menuitem-text {
  color: #fff;
}
