/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2014, 11:19:46 AM
    Author     : Nook
*/
#layoutTop {
  background-color: #2e322e;
  border-bottom-style: solid;
  border-bottom-color: #33CC33;
  border-bottom-width: 4px;
}
#layoutLeft,
#layoutCenter {
  top: 99px;
}
#layoutLeft {
  background-color: #2e322e;
}
#layoutLeft .ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix {
  border-color: #2e322e;
  background-color: #2e322e;
}
#layoutLeft .ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix li {
  border-color: #2e322e;
  border-style: outset;
  border-width: 0.15em;
}
#layoutLeft .ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix li:hover {
  background-color: #2e322e;
  border-color: #2e322e;
  border-style: inset;
  border-width: 0.15em;
}
#layoutLeft .ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix li a.ui-menuitem-link.ui-corner-all.ui-state-hover {
  background-color: #2e322e;
}
